---
---

@import "{{ site.theme }}";


h1:not([id]) {
	display: none;
}

body {
	max-width: 50em;
	margin: auto;
	padding-top: 0;
}

img.logo {
	display: block;
	width: 4em;
	margin: 0 auto;
	padding: 0;
}

h1, h3 {
	left: 0;
	margin: 0 !important;
	
	text-align: center;
	width: 100%;
	
	font-size: 2em;
	font-weight: bold !important;
}

.my-5 {
	margin-top: 0 !important;
}