body {
	font-family: Cordana, Calibri, sans-serif;
	overflow: hidden;
	margin: 0;
}


.header {
	position: absolute;
	
	left: 0;
	margin: 0;
	padding: 0.25em;
	
	z-index: 1;
	text-align: center;
	width: 100%;
	
	font-weight: normal;
	color: black;
}

.footnote {
	position: absolute;

	bottom: 1em;
	left: 0;
	margin: 0;
	padding: 0.25em;
	
	z-index: 1;
	text-align: center;
	width: 100%;
	
	font-weight: 100;
	color: black;
}


h1 {
	margin-bottom: 0;
	padding: 0;
}

h3 {
	margin: 0;
	padding: 0;
	font-weight: 100 !important;
}


a {
	text-decoration: none;
}

a:hover {
	color: yellow !important;
	opacity: 1 !important;
}

.white, .white a, .white a:visited {
	color: white;
}

.gray, .gray a {
	color: gray;
}
